* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav {
    
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
}

.navbar1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav p {
    font-size: 12px;
    margin-right: 20px;
}

.container {
    
    min-height: 10rem;   
   
    
}

.one {
    background-color: lightblue;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2.4em;
    padding-right: 6.2rem;
}

.content {
    display: flex;
    align-items: center;
}

.bluebtn {
    background-color: blue;
    color: white;
    padding: 1rem;
}


.one p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.one img {
    height: 23rem;
    position: relative;
    top: 6rem;
}
.bigcontainer {
    margin-left: 20rem;
    margin-right: 20rem;
}

.cont2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pianofatt {
    margin-right: 27rem;
    display: block;
}

.fatturazione {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fatturazione h2 {
    margin-bottom: 4rem;
}

.insidebox {
    height: 862px;
    width: 257px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}

.insidetitle {
    margin-left: 103px;
}

.boxrule {
    margin-bottom: 1rem;
    background-color: black;
    height: 1px;
    border: none;
}

.spacebox {
    margin-bottom: 2rem;
}

.price {
    padding-left: 0.5rem;
}

.lista {
    list-style-type: none;
}

.lista li {
    margin: 0.8rem;
}

.btnspace {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.boxrule2 {
    width: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    background-color: black;
    height: 1px;
    border: none;
}

/*inizio enterprice */

.cont3 {
    min-height: 2rem;
    margin-bottom: 7rem;
}

.teambox {
    width: 100%;
    padding: 0.5rem;
    margin-top: 3rem;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enterprice {
min-height: 2rem;
border: 2px solid black;
}

.enterprice h3, p {
margin: 0.5rem;
}

.btnpos {
    position: relative;
    left: 37rem;
    bottom: 3rem;
}

/*container 4 */

.cont4 {
    display: flex;
    align-items: center;
    margin-bottom: 7rem;
}

.ct4paragraph {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 1.5rem;
    
}

.ct4paragraph h3 {
    margin-right: 4rem;
}

.ct4paragraph button {
    background-color: white;
    margin-right: 9.8rem;
    padding: 0.3rem;
    margin-left: 6px;
}

.cont4 img {
    height: 26rem;
}

/*container 5 */

.cont5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 7rem;
}

.boxop {
    border: 2px solid black;
    min-height: 5rem;
    min-width: 3rem;
    width: calc(33.33% - 1rem);
    margin-bottom: 2rem; 
}

.boxop img {
    height: 197px;
}

.boxop p {
    margin-top: 1.5rem;
    margin-left: 0;
}

/* più di 500.000 team utilizzano Dropbox Business */

.cont6 {
    margin-bottom: 5rem;

}

.cont6 h2 {
    margin-bottom: 2rem;
}

/* sponsor */

.cont7 {
    display: flex;
}

.sponsor {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
    width: 30rem;
    min-height: 4rem;
    border: 2px solid black;
}

.square {
    background-color: brown;
    width: 40px;
    height: 40px;
}

/* container 8 */

.cont8 {
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont8 h2 {
    margin-right: 8rem;
    color: brown;
}

.cont8 button {
    position: relative;
    bottom: 1rem;
    padding: 0.5rem;
}

/* container 9 */

.cont9 {
    margin-top: 6rem;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 6rem;
}

.cont9 h2, hr, p {
    margin-bottom: 1.5rem;
}

/* container 10 */

.cont10 {
    background-color: black;
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ftbox {
    color: white;
    min-width: 2rem;
    min-height: 5rem;
}

.ftbox ul {
    list-style-type: none;
}

.ftbox h3 {
    margin-bottom: 1rem;
}






